{%- macro constant(plan) -%}
{{ plan.name }}: {{ plan.annotation }} = {{ plan.constructor }}(
{%- for argument in plan.arguments %}
    {{ argument.value }},
{%- endfor %}
)
{%- endmacro -%}
"""{{ docstring }}"""

from __future__ import annotations

{{ imports }}
{%- for entry in records %}


class {{ entry.name }}({{ entry.base }}):
    """{{ entry.docstring }}"""
{% for member in entry.members %}
    {{ member.name }}: {{ member.annotation }}
{%- endfor %}
{%- endfor %}
{%- for plan in keywords %}


{{ constant(plan) }}
{%- endfor %}
